.highlighter-rouge, .highlight {
    line-height: 1;
}


.btn-yellow {
    @include btn-color($white, $yellow-300);
}

.site-header {
    border-bottom: 1px solid #eeebee;
}

@mixin nav-flex {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.nav-list {
    @include nav-flex;

    .nav-list-item {
        &.active {
            @include nav-flex;

            .nav-list {
                @include nav-flex;
            }
        }

        .nav-list-link {
            padding: 0.75rem 1rem;
            border-radius: 8px;
            color: $body-heading-color;
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;

            &:hover, &.active {
                background-image: linear-gradient(
                    -90deg,
                    rgba(#FFF6E0, 0.6) 0%,
                    rgba(#FFF6E0, 0.4) 60%,
                    rgba(#fff6e0, 0) 100%
                );
                color: $link-color !important;
            }
        }

        .nav-list-expander {
            width: 4rem;
            height: 4rem;
            padding: 1rem;
        }
    }
}

@media (min-width: 50rem) {
    body {
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    .side-bar {
        position: static !important;
        width: 20rem !important;
        flex-flow: column nowrap;
        height: 100%;
        border-right: 1px solid #eeebee;
        align-items: flex-end;

        .site-header {
            width: 100%
        }

        .site-nav {
            width: 100%;
            padding: 1rem;

            .nav-list {
                .nav-list-item {
                    .nav-list-expander {
                        width: 3rem;
                        height: 3rem;
                        padding: 0.75rem;
                    }
                }
            } 
        }

        .site-footer {
            width: 100%;
        }
    }

    .main {
        position: static !important;
        max-width: none;
        margin: 0 !important;
        overflow-y: scroll;
        flex-grow: 1;

        .main-header {
            z-index: 1;
            position: sticky;
            top: 0;
        }

        .main-content-wrap {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            .breadcrumb-nav {
                max-width: 80rem;
                width: 100%;
            }

            .main-content {
                max-width: 80rem;
                width: 100%;
            }
        }
    }
}

.highlight .hll {
    background: #b1b74d47 !important;
}
