$grey-ydk-000: #817C55 !default;
$grey-ydk-100: #565129 !default;
$grey-ydk-200: #585543 !default;
$grey-ydk-300: #403D2B !default;

$grey-ylt-000: #FFFDEC !default;
$grey-ylt-100: #FFFBD9 !default;
$grey-ylt-200: #FFF8C4 !default;
$grey-ylt-300: #E9E6D3 !default;