@import "./color_schemes/light";

$primary-color: #EBC32B;

$color-scheme: light;
$body-background-color: $white;
$body-heading-color: #1B2430;
$body-text-color: #495059;
$link-color: $primary-color;
$nav-child-link-color: #495059;
$sidebar-color: $white;
$base-button-color: #f7f7f7;
$btn-primary-color: $primary-color;
$code-background-color: #F6F6F7;
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$search-background-color: $white;
$search-result-preview-color: $grey-ydk-000;
