<select class="selector" id="version-selector">
    <option value="latest">1.x (latest)</option>
    <option value="0.x">0.x</option>
</select>

<script>
    const versionSelector = document.getElementById("version-selector");

    const currentVersion = window.location.pathname.split("/")[2];
    versionSelector.value = currentVersion;

    versionSelector.addEventListener("change", (event) => {
        const selectedVersion = event.target.value;

        const [_none, currentlanguage, _currentVersion, ...paths] = window.location.pathname.split("/");

        window.location.href = `/${currentlanguage}/${selectedVersion}/${paths.join("/")}`;
    });
</script>